@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(Lato.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand'), local('Quicksand'), url(Quicksand.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

::selection {
    background: transparent;
}

/*Cambiamos el fondo a una imagen animada*/

body {
    background: #A5DAD2;
    font-family: Quicksand, san-serif;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54eb5af2-039c-4a9a-9c39-8cbe8868c779/dedby6o-5eb91d30-b19f-430e-adc7-29e728fbb6c1.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0ZWI1YWYyLTAzOWMtNGE5YS05YzM5LThjYmU4ODY4Yzc3OVwvZGVkYnk2by01ZWI5MWQzMC1iMTlmLTQzMGUtYWRjNy0yOWU3MjhmYmI2YzEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ddM4NnlUuslsbzzlvQrfSkSq71wEVHAZN8IwTO5_9yc);
    background-repeat: no-repeat;
    background-size: 100%;
}

.bgWhite {
    background: #F5F2F5;
}

.colorWhite {
    color: #F5F2F5 !important;
}

.bgDark {
    background: #516D66;
}

.colorDark {
    color: #516D66;
}

.bgRed {
    background: #F286A0;
}

.colorRed {
    color: #F286A0 !important;
}

.gameBoard, .scoreBoard {
    font-weight: 400;
}

.gameBoard {
    width: 100%;
}

.gameBoard td {
    text-align: center;
    color: #516D66;
    font-size: 8em;
    cursor: pointer;
    transition: all 0.5s;
}

.gameCell {
    width: 181px;
    height: 181px;
    background-repeat: no-repeat;    /**Impedimos que se repita la imagen del fondo al marcar la casilla **/
    background-position: center;     /**Centramos la imagen del fondo**/
}

.gameCell:not(.marked):hover {
    box-shadow: 0 0 42px #555;
}

.gameBoard td.gameCell.notActive:hover, .gameBoard td.gameCell.notActive:active {
    box-shadow: none !important;
    cursor: default;
    background-color: red;     /**Al pasar el cursor sobre celdas inactivas, éstas adobtarán un fondo rojo**/
}

.scoreBoard {  /*Cambiamos el color al texto de los jugadores*/
    color: #00eeff;
    height: 100px;
}

.boardCol {
    width: 5px;
    cursor: default !important;
}

.boardRow {
    height: 5px;
    cursor: default !important;
}

.scoreBoard span.active {
    border-bottom: 4px solid #ffffff;
}

.enter_name {               /*Se cambian las caracteristicas del texto, haciendolo mas grande alineandolo al centro y cambiandole de color al negro*/  
    text-align: center;
    color: #00eeff;
    font-size: 400%;
    text-shadow: 0 0 8px #00ffff;
}

.row1 {                     /*Utilizando la clase row cambiamos la posicion del div entero para centrarlo un poco mas*/
    position: absolute;
    top: 35%;
    right: 10%;
    left: 10%;
}


#ganadores{
position: absolute;
width: 100%;
height: 10%;
bottom: 1%;
color: white;
font-size:50px;
text-align: center;
display:none;
}
#reiniciar{
    display:none; 
    position:absolute; 
    right:10%; 
    top:20%;
}
